
.emulateTransitionEnd(300);

.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left !important;
}
body{background: #002373;}
footer{position: absolute; bottom: 0; left: 0; right:0; background-image: url(../images/footer.png); background-size: cover;padding-left: 15px;padding-right: 15px;padding-top: 15px;padding-bottom: 35px; color: white; font-size: 18px;}
.footer_space{padding-left: 8%;padding-right: 8%;}
.navbar1{position: absolute;z-index: 1;}
.carousel-captions{right: 0;left: 0%;top: 1%;position: absolute;}
.carousel-captions1{right: 0;left: 57%;top: 1%;position: absolute;}
.carousel-caption h1{font-size: 80px;}
.carousel-caption h4{font-size: 30px;padding-left: 15px;}
.demo97{position: absolute; top: 20%; left: 20%; width: 10%;}
.demo98{position: absolute; bottom: 55px; width:20%; right:20%;}
.demo99{position: absolute;left: 20%; bottom: 68px;width:20%;}
.carousel2 .demo97{position: absolute; top: 20%; left: 70%; width: 10%;}
.carousel2 .demo98{position: absolute; bottom: 0; width:10%; left: 80%;}
.carousel2 .demo99{position: absolute;left: 60%; bottom: 0;width:10%;}
.logo{width: 45%; float: right;}
.nav2{margin-bottom: 0px; border-radius: 1px;background-color: #034dae; border-color: #034dae;}
.nav2 .nav img{width: 16px; padding-bottom: 4px;}
.nav2 ul{padding-left: 20px; padding-top: 0px;}
.nav2 li{padding-bottom: 0; padding: 10px;}
.nav2 li a{color: white; font-size: 13px;letter-spacing: 0.5px;}
.nav2 li a:hover{text-decoration: none;}
.list{margin-top: 6px; background-color: #ffff00; border-color: #ffff00; color: black;}
.navbar-toggle{margin-top: 20px; background-color: #034dae;}
.h1{font-size: 60px;}
h4{font-size: 17px; font-weight: bold;}
h1{font-size: 50px;}
.navbar1 span{float: left;}
.nav>li>a:focus, .nav>li>a:hover{background-color: transparent;}
.navbar1 p{float: right; padding-left: 10px; }
.navbar1 .links{border:1px solid white; margin-right: 15px; height: 30px; padding: 5px; margin-top: 10px;}
.navbar-nav>li>a:hover{background-color: transparent;}
.navbar-nav>li>a{color: white; font-size: 16px; letter-spacing: 1px;}

.row{margin-right: 0px; margin-left: 0px;}
.space{padding-left: 15%; padding-right: 15%;padding-top: 3%;}


.section1{padding-top: 2%; padding-bottom: 2%; color: white; background-size: cover;}

.section1_2 .col-sm-2{padding: 0px;}
.section1_1 .col-sm-5{padding-left: 0px;}
.section1_1 .col-sm-7{padding-left: 0px;}
.section1_1 li{display: inline-block; padding-left: 20px; padding-right: 20px; margin-top: 5px; font-size: 20px;}
.section1_img2{margin-top: -250px; margin-left: -20px; width: 50%; float: left; position:fixed;}
.section1_img3{margin-top: -200px; width: 50%; float: right; }
.section1_2 h2{text-align: left; font-size: 50px;}
.section1_2 button{padding: 10px 40px; border-radius: 25px;float: left; border:none; background-color: #ffff00;color: black;margin-top: 50px;}
.section1_2 .col6{padding-top: 50px;}
.section2 .col-sm-8{margin-top: -100px;}

.section2{}
.section2 .col-sm-8, .section2 .col-sm-12, .section2 .col-sm-4{padding: 0px;}

.section2 .col-sm-6{padding: 0px;}
.section2_img1{float: right;}
.section2_img3{float: left; width: 50%; margin-top: -100px;}
.section2_img4{float: right;width: 50%; margin-top: -80px;}

.section3{}
.section3 p{text-align: justify;font-size: 16px;}
.section3_content{padding-top: 50px;}
.section3_content h4{text-align: center; margin-top: 50px;}

.section3_img3{float: left; width: 50%; margin-top: -190px;}
.section3_img4{float: right;width: 50%; margin-top: -180px;}

.section4 .col-sm-3{width: 20%; float: left; padding-bottom: 30px;}
.section4 h1{padding-bottom: 30px;}

.section5 .glyphicon-arrow-down{border-radius: 25px; border: 1px solid white; font-size: 13px; padding: 3px; padding-top: 4px; height: 23px; width: 23px;}
.section5 h4{font-size: 18px;letter-spacing: 1px;text-transform: uppercase;}
.section5 li{font-size: 16px; letter-spacing: 0.5px; list-style: none;}
.section5 .space p{font-size: 16px; letter-spacing: 0.5px;}
.section5 ul{padding-left: 0px;}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.mcarousel{display: none;}

  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

  .rocket{margin-top: 130px;}
  .titles{width: 18%;}

.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%; }
  
/* width */
::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: blue;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: white;
}

.carousel_text{position: absolute; top: 10px; padding-left: 15%;}

#fp-nav ul li a, .fp-slidesNav ul li a{display: none;}


.carousel-control{width: auto;}
.carousel-control.left{background: none; right: 29.8%; top: 32%;}
.carousel-control.right{background: none; right: 26%; top: 32%;}

.glyphicon-circle-arrow-left{float: right; font-size: 30px;color: orange;}
.glyphicon-circle-arrow-right{float: right; font-size: 30px;color: orange;}

li{cursor: pointer;}

.carousel-captions h2{
  font-size: 45px;
}
.carousel-captions h3{
  font-size: 40px;
}

.secongcarousel .carousel-indicator li{
  padding-right: 30px;
  float: left;
}

.secongcarousel .carousel-indicator{
  float: right;
padding-right: 100px;
font-size: 20px;
}
.section1_img1{width: 70%;margin-top: 0px;float: right;}

.carousel_class{margin-top: -35px; padding: 0;}


button:hover{text-shadow: 2px 2px 20px yellow;}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.footer_coins{display: none;}

.carousel_class{margin-top: 0px; padding: 0;}
.section1_img1{
  width: 100%;
  float: none;
}
.secongcarousel .carousel-indicator li{padding-right: 10px;}
.secongcarousel .carousel-indicator{    float: none;
    padding-right: 0;
    font-size:12px;
    margin-left: 20px;}

.carousel-control.left{left: 0;display: none; }
.carousel-control.right{left: 0; right: 0; display: none;}
.glyphicon-arrow-down{border: 1px solid white;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;}

.footer_space p{font-size: 13px !important;}

.carousel_text{ padding-left: 5%;}
  .carousel-inner .item{
    height: 800px;
  }

.carouselimg1{
  height: 100% !important;
}
#quote-carousel .carousel-control{margin-top: 15px;}

.carousel-captions h2{
  font-size:25px;
  padding-top: 20px;
}
.carousel-captions h3{
  font-size: 25px;
}
	.section1_img2{margin-top: -160px;}
	.section1_img3{margin-top: -140px;}
	.section1_2 h2{font-size: 30px; margin-top: -15px;}
	.space{padding-left: 20px; padding-right: 20px;}
    #ul1, #ul2, #ul3, #ul4{display: none;}
    .section5 ul{padding-left: 0px;}   
    .h1{font-size: 32px;}
    .section1_1 ul{padding-left: 0px;}
    .section1_1 li{padding-left: 0px;}
    .section4 .col-sm-3{width: 50%; float: left;}
    .navbar1 p{display: none;}
    .navbar1 .links{width: 30px; border-radius: 25px; margin-top: 10px;}
    .navbar1 .nav>li{display: inline-block;}
    .navbar1 ul{margin-top: 0px;}
	.dcarousel{display: none;}
	.mcarousel{display: block;}
	.demo100{width: 100%;}
	.carousel-captions{left: 3%;}
	.carousel-captions1{left: 50%;}

  .logo{margin-left: -100px; float: none;}
  .navbar-toggle .icon-bar{background: #23527c; }
  .navbar-toggle{background: white;}
  .rocket{padding-top: 80px;width:55%; height:15%}
  .titles{width: 40%; margin-top: 100px;}

  .logos{padding-top: 55px;}
  .demo99 {
    position: absolute;
    left: 7%;
    bottom: 20%;
    width: 40%;
}
.demo98 {
        position: absolute;
    bottom: 18%;
    width: 49%;
    left: 44%;
}
.section1_2 button{margin-top: 0px;}
.section3_content{padding-top: 10px;}

.scroll2{overflow-y: scroll; height: 100px; width: 100%}

h2{font-size: 18px;}

.footer_space{padding: 10px;}

.nav2 ul {
    padding-left: 20px;
    padding-top: 0px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.nav2 li {
    padding-bottom: 0;
    padding: 10px;
    width: 50%;
    display: inline-block;
}

.nav2 .nav img{width: 28px; float: left;}
.nav2 .nav p{font-size: 18px;}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {   
    .glyphicon-arrow-down{display: none;}
}

/**********************************************************/  

@media (min-width:320px)  { #main-header-main {
    position: sticky; overflow: hidden; top: 0; z-index: 9999;
}
#main-header-sec2 {
    width: 0;
}

#main-header-sec1 {
    width: 0;
}
}

@media (min-width:801px)  {#main-header-main {
    position: absolute; overflow: hidden; width: 100%; top: 0; z-index: 9999;display: none;
}
#main-header-sec2 {
    position: absolute; overflow: hidden; width: 100%; top: -70px; z-index: 9999; scroll-behavior: [ auto | smooth ];
}

#main-header-sec1 {
    position: sticky; overflow: hidden; width: 100%; top:-0; z-index: 9999;
}

#sec-div-padding{
    padding-top: 75px;
}
}
