section:nth-child(1) {
  background-image: url(../images/bg2.png)
}
section:nth-child(2){
  background-image: url(../images/bg2.png);
}
section:nth-child(3) {
  background-image: url(../images/bg2.png);
}
section:nth-child(4){
  background-image: url(../images/bg2.png);
}
section:nth-child(5){
  background-image: url(../images/bg2.png);
}
