body
{background-color:#005caa;}

.logo{width: 45%; float: right;}
@font-face {
   font-family: 'reality';
   src: url('http://chrysalisstudio.in/fonts/RealitySundaylight.ttf');
}

h1{
   color: white;
   line-height: 55px;
}

h2,h3,h4,h5,h6

{
color:#FFF;
font-weight:800!important}


::placeholder {
    color: #ffffff8c!important;
}

li{
	list-style: none;
}

  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 50px;
  }

.btn-xl
{text-transform:uppercase;
padding:1.5rem 3rem;
font-size:.9rem;
font-weight:700;
letter-spacing:.1rem}
.img1{
	width:55%;
	padding-left: 50px;
	padding-right: 5px;
	background-color: #100074;
}
.navbar-default .navbar-nav>li>a{
	color: #FFF;
}
.btn-warning {
    color: #100074;
    background-color: #ffff00;
    border-color: #eea236;
}
.nav2 .container-fluid{
	padding-left: 0px;
}

.navbar-default .navbar-nav>li>a:hover{
	color: lightgray; 
}

button.btn btn-warning a{
	color: #FFF;
}

.btn-warning{
	height: 40px;
	margin-top: -20px;	
}

.nav1{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
}

.container-fluid
{background-image: url("");}
.py-5 bg-black{border-top-color:#FFF; border-top-width:2px;}
.rounded-pill{border-radius:5rem}
.navbar-custom{padding-top:1rem;padding-bottom:1rem;background-color:rgba(0,0,0,0)}
.navbar-custom .navbar-brand{text-transform:uppercase;font-size:1rem;letter-spacing:.1rem;font-weight:700}
.navbar-custom .navbar-nav .nav-item .nav-link{font-size:.8rem;letter-spacing:.1rem; color:#FFF; border:1px solid #FFF; padding:5px 10px 5px 10px; font-size:1.3rem; margin-right:10px; font-family:Roboto}
.navbar-custom .navbar-nav .nav-item1 .nav-link{font-size:.8rem;letter-spacing:.1rem; color:#FFF; padding:5px 10px 5px 10px; font-size:1.3rem;font-family:Roboto}
.navbar-nav .nav-item .nav-link{font-size:1rem;letter-spacing:.1rem; color:#FFF; padding:5px 10px 5px 10px; font-size:1.3rem;font-family:Roboto}
.nav2 .navbar-nav {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: -80px;
    padding-left: 230px;

  }



.nav2{
    background-color: #034dae;	
    border-color:  #034dae;
    border-radius: 1px;
    margin-top: -2px;
    color: white;
}

.nav2 .navbar-nav>li{
  	float: none;
    display: inline-block;
    font-size: 13px;
  }

.navbar-custom .navbar-nav .nav-item .nav-link:hover{
	background-color: transparent;
}

.navbar-custom .navbar-nav .nav-item .nav-link:focus{
	background-color: transparent;
}

header.masthead{position:relative;overflow:hidden;padding-top:calc(7rem + 72px);padding-bottom:7rem;background:linear-gradient(0deg,#ff6a00 0,#ee0979 100%);background-repeat:no-repeat;background-position:center center;background-attachment:scroll;background-size:cover}
header.masthead .masthead-content{z-index:1;position:relative}
header.masthead .masthead-content .masthead-heading{font-size:4rem}
header.masthead .masthead-content .masthead-subheading{font-size:2rem}
header.masthead .bg-circle{z-index:0;position:absolute;border-radius:100%;background:linear-gradient(0deg,#ee0979 0,#ff6a00 100%)}
header.masthead .bg-circle-1{height:90rem;width:90rem;bottom:-55rem;left:-55rem}
header.masthead .bg-circle-2{height:50rem;width:50rem;top:-25rem;right:-25rem}
header.masthead .bg-circle-3{height:20rem;width:20rem;bottom:-10rem;right:5%}
header.masthead .bg-circle-4{height:30rem;width:30rem;top:-5rem;right:35%}
@media (min-width:992px){header.masthead{padding-top:calc(10rem + 55px);padding-bottom:10rem}
header.masthead .masthead-content .masthead-heading{font-size:6rem}
header.masthead .masthead-content .masthead-subheading{font-size:4rem}}
.bg-primary{background-color:#034dae! important}.btn-primary{background-color:#ee0979;border-color:#ee0979}.btn-primary:active,.btn-primary:focus,.btn-primary:hover{background-color:#bd0760!important;border-color:#bd0760!important}.btn-primary:focus{box-shadow:0 0 0 .2rem rgba(238,9,121,.5)}.btn-secondary{background-color:#ff6a00;border-color:#ff6a00}.btn-secondary:active,.btn-secondary:focus,.btn-secondary:hover{background-color:#c50!important;border-color:#c50!important}.btn-secondary:focus{box-shadow:0 0 0 .2rem rgba(255,106,0,.5)}

footer{background-image: url(../footer.png); background-size: cover;}


.box{
	background-image: url(../images/bg2.png);
	background-size: cover;
}
.box2{
	padding-left: 10%;
}

.box2 h1{
	font-size: 80px;
}

.box2 ul{
	padding-left: 0px;
	float: right;
}

.box2 li{
	display: inline-block;
	font-size: 19px;
	color: white;
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.box2 .col-sm-4{
	padding-top: 20%;
}

.box2 .col-sm-4 h2{
	font-size: 50px;
}

.box2 .col-sm-4 button{
	padding: 7px;
	width: 140px;
	border-radius: 80px;
	background-color: #f0ad4e;
	border: none;
	margin-top: 20px;
}

.nav2{
	margin-bottom: 0px;
}

.box2 h4{
	font-size: 30px;
}

.index_images img{
	width: 90%;
	margin-top: 20px;
	margin-bottom: 30px;
}

.index_images .col-sm-3{
	width: 20%;
}


.layer3{
	margin-right: 10%;
	margin-left: 10%;
	color: white;
	margin-top: 100px;
}

.layer3 h4{
	font-size: 25px;
    text-shadow: 0px 0px 11px black;
}

.index_layer4{
	margin-top: 0px;
}


/*contact*/
.layer12 img{
	width: 50%;		
}


.layer12 h1{
	font-size: 60px;
}

.layer12 h4{
	font-size: 28px;
}

.layer12{
	margin-right: 10%;
	margin-left: 10%;
	color: white;
	margin-top: 100px;
}

/*cockfight page */

.layer1 img{
	width: 50%;
	float: right;
}


.layer1 h1{
	font-size: 60px;
}

.layer1 h4{
	font-size: 28px;
}

.layer1{
	margin-right: 10%;
	margin-left: 10%;
	color: white;
	margin-top: 100px;
}

.layer2{
	padding-right: 10%;
	padding-left: 10%;
	color: white;

}
.layer2 img{
	width: 80%;
	margin-top: 50px;
}

.layer2 button{
	padding: 7px;
	width: 140px;
	border-radius: 80px;
	background-color: #f0ad4e;
	border: none;
}

.layer2 ul{
	text-decoration: uppercase;
	padding-left: 0px;
}

.layer2 li{
	text-decoration: uppercase;
	list-style: none;
	margin-bottom: 5px;
}

.layer2 p{
	text-decoration: uppercase;
	line-height: 22px;
	font-size: 16px;
}

/* live casino page */

.lc_layer1 img{
	margin-top: -300px;
}

.lc_layer2 img{
	width: 100%;
}

.lc_layer2 h4{
	font-size: 25px;
	letter-spacing: 2px;
}

/*lottery page*/

.lottery_layer1 img{
	margin-top: -200px;
}

.table-wrap{
	padding-left: 5%;
	padding-right: 5%;
}

.table-wrap .table>tbody>tr>td{
	border-top: none;
	padding: 10px;
	padding-left: 20px;
	letter-spacing: 1px;
}

.table-wrap .table>thead>tr>th{
	border-bottom: 1px dashed;
	padding: 10px;
	padding-left: 20px;
	letter-spacing: 2px;
}

.table-wrap table{
   border: 1px dashed;
   border-radius: 100px;
}


.lc_layer2 .col6{
//	background-image: url('../images/Vector Smart Object.png');
	background-position: center center;
	background-repeat:  no-repeat;
	background-size:  cover;
	padding-top: 30px;
	padding-bottom: 30px;
}

/*slot page*/

.slot_layer1 img{
	margin-top: -200px;
}

/*sports page*/

.sports_layer1 img{
	margin-top: -200px;
}

/*promotion page*/

.pro_layer1 img{
	margin-top: -50px;
}


/*footer*/

footer{
	color: white;
	margin-top: 60px;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 30px;
}

footer p{
	font-size: 17px;
	letter-spacing: 1px;
	text-align: center;
}
::placeholder { 
    color: white;
}

footer img{
	width: 50%;
}


.nav-item p{
	float: right;
	padding-left: 10px;
}

.box2 h4{
	float: left;
}

.box2 ul{
	float: right;
}

.index_img{
	width:100%; margin-top: -300px;
}

.layer3 .col-sm-6 h4{
	margin-top: 30px;
}

.carousel-control.left{
	display: none;
}
.carousel-control.right{
	display: none;
}

.carousel-indicators{
	left: 11.2%;
	top: 60%;
}	

.layer3 .col-sm-6 h4{
	text-align: center;
}

.demo p{
	padding-top: 2px;
	margin-bottom: 0PX;
}

.index_img3{
	display: none;
}

input[type="text"]{
	   background-color: #ff000000;
    border-color: transparent;
    width: 40%;
    margin-right: 41px;
    border-bottom-color: white;
}

input[type="submit"]{
	background-color: yellow;
    width: 105px;
    border-radius: 30px;
    color: #04335a;
    font-size: 20px;
    border-color: transparent;
}

.cloud11{
	margin-left: -15px;
    width: 100%;
    margin-top: -126px;
    z-index: 1;
    position: absolute!important;
}

.glyphicon-arrow-down{
	display: none;
} 




.demo99{
	margin-top: -270px;
	width: 20%;
	margin-left: 33%;
}

.demo98{
	margin-top: -180px;
	width: 25%;
	position: absolute;
	right: 0;
	margin-right: 10%;
}

.demo97{
	width: 18%;
	position: absolute;
	top: 0;
	margin-right: 10%;
	margin-left: 55%;
	margin-top: 12%;
}

.carousel11{
	display: none;
}

.carousel-caption{
	right: inherit;
	left: 10%;
	top: 6%;
	text-align: left;
}

.carousel-caption h1{
	font-size: 60px;
}


.carousel-caption h4{
	font-size: 40px;
}

.logos{
	width: 80%;
}

.demo100{
	height: 570px !important;
    max-width: 522px !important;
    width: 100%;
}

img.demo101 {
    width: 50%;
    top: 25%;
    position: absolute;
    left: 25%;
}

img.demo102 {
    margin-top: -195px;
    width: 56%;
    margin-left: 1%;
}

img.demo103 {
    margin-top: -140px;
    width: 50%;
    margin-left: 50%;
}

.carousel11 .carousel-caption{
	right: inherit;
	left: 10%;
	top: 1%;
	text-align: left;
}

.carousel11 .carousel-caption h1{
	font-size: 30px;
	margin-top: 80px;
}


.carousel11 .carousel-caption h4{font-size: 23px;}

.clouds100 .col-sm-3{width: 20%;float: left;}

.clouds100 .col-sm-3 img{width: 100%;}


.index_img99{width: 45%; float: left; margin-top: -200px;}
.index_img98{width: 55%; float: right; margin-top: -200px;}
.index_img97{width: 45%; float: left; margin-top: -100px;}
.index_img96{width: 55%; float: right; margin-top: -100px;}

.sport_img100{width:60%; float: right; margin-right: 100px; padding-top: 10px;}
.sport_img99{width: 45%; float: left; margin-top: -300px;}
.sport_img98{width: 55%; float: right; margin-top: -200px;}

.casino_100{width: 45%; float: left; margin-top: -250px;}
.casino_99{width:70%; float: right;}
.slot_img100{width:60%; margin-left: 20%;}
.slot_img99{width: 45%; float: left; margin-top: -200px;}
.slot_img98{width: 55%; float: right; margin-top: -200px;}

.lottery_img99{width: 45%; float: left; margin-top: -200px;}
.lottery_img98{width: 55%; float: right; margin-top: -200px;}

.fight_99{width: 45%; float: left; margin-top: -90px;}
.fight_98{width: 55%; float: right; margin-top: -90px;}

.pro_img99{width:70%; margin-left: 20%;}
.pro_img98{width: 45%; float: left; margin-top: -200px;}
.pro_img97{width: 55%; float: right; margin-top: -200px;}

	.index_img{
		width: 60%;
	}
	
.winner_img98{
    width: 55%;
    float: right;
	margin-top:-300px;
}

.winner_img99 {
    width: 55%;
    float: left;
	margin-top: -100px;
}

.winner{
	margin-top:-80px;
}

.tables{width: 50% !important;}

.winner_img100{width: 300px !important; float: left; margin-top: -50px !important; margin-left: 90px;}
.winner_img101{width: 300px !important; float: right;margin-top: -50px !important; margin-right: 90px;}

.nav2{margin-bottom: 0px; border-radius: 1px;background-color: #034dae; border-color: #034dae;}
.nav2 .nav img{width: 16px; padding-bottom: 4px;}
.nav2 ul{padding-left: 10px; padding-top: 0px;}
.nav2 li{padding-bottom: 0; padding: 8px; padding-top: 18px;}
.nav2 li a{color: white; font-size: 10px;letter-spacing: 0.5px;}
.nav2 li a:hover{text-decoration: none;}
.navbar-toggle{margin-top: 20px; background-color: #034dae;}



/* MEDIA QURIES */

@media only screen and (max-width: 600px) {
	
	.nav2 ul {
    padding-left: 20px;
    padding-top: 0px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

.nav2 li {
    padding-bottom: 0;
    padding: 10px;
    width: 50%;
    display: inline-block;
}

.nav2 .nav img{width: 28px; float: left;}
.nav2 .nav p{font-size: 15px;}
	
	.logo{margin-left: -100px; float: none;}
  .navbar-toggle .icon-bar{background: #23527c; }
  .navbar-toggle{background: white;}
	
	.tables{width: 100% !important;}
	
	.layer2 img {
		margin-top: 0px;
	}

	.winner_img100{width: 150px !important; float: left; margin-top: -10px !important; margin-left: -70px;}
	.winner_img101{width: 150px !important; float: right;margin-top: -10px !important; margin-right: -70px;}
	
	.winner{
		margin-top: 0px;
	}

	.slot_layer2 img{
		    margin-top: -206px;
	}
	
	.slot_layer1 img{
		margin-top: 200px;
	}

	.footer_logo{
		width: 100%;
	}

	.index_img{
		width: 100%;
	}

	.index_img99{width: 45%; float: left; margin-top: -100px;}
	.index_img98{width: 55%; float: right; margin-top: -100px;}
	.index_img97{width: 45%; float: left; margin-top: -40px;}
	.index_img96{width: 55%; float: right; margin-top: -40px;}

	.sport_img100{margin-top: -150px !important; margin-right: 10px;}
	.sport_img99{margin-top: -50px !important;}
	.sport_img98{margin-top: -50px !important;}

	.slot_layer1 img { margin-top: -97px;}
	.slot_img100{width:70%; margin-left: 20%; margin-top: -215px !important;}

	.lottery_img99{margin-top: -100px !important;}
	.lottery_img98{margin-top: -100px !important;}

	.fight_99{margin-top: -145px;}
    .fight_98{margin-top: -145px;}

	img.casino_99 {
   	 margin-top: -187px;
	}
	img.casino_100 {
	    margin-top: -130px;
	}

	.pro_img99{margin-top: -200px !important;}

	h1{line-height: 40px; font-size: 32px;}

	.box2{padding-left: 15px;}

	.cloud11{margin-left: -15px; width: 100%;margin-top: -50px; z-index: 9999999999; position: absolute!important;
	}

	.carousel11{
		display: block !important;
	}

	.carousel12{
		display: none;
	}

	.clouds100 .col-sm-3{
		width: 50%;
		float: left;
	}

	.clouds100 .col-sm-3 img{
		width: 100%;
	}

	input[type="text"]{
	   background-color: #ff000000;
	    border-color: transparent;
	    width: 100%;
	    margin-right: 41px;
	    border-bottom-color: white;
	}

	input[type="submit"]{
		background-color: yellow;
	    width: 105px;
	    border-radius: 30px;
	    color: #04335a;
	    font-size: 20px;
	    border-color: transparent;
	}

	.index_img3{
		display: block;
		width: 100%;
	}
	

    .nav2 .navbar-nav>li{
		width: 50%;
	}

	.nav2 .navbar-nav {
	    width: 100%;
	    text-align: center;
	    display: inline-block;
	    margin-top: 0px;
	    margin-left: 0px;
	    padding-left: 0px;
	}  

	.navbar-nav{
		margin: 0px;
	}

	#navbarResponsive .nav>li{
		width: 30%;
		float: right;
		padding-right: 30px;
	}

	.navbar-custom .navbar-nav .nav-item .nav-link{
		border-radius: 50%;
		height: 30px;
		width: 30px;
		padding: 5px 7px;
	}

	.nav-item p{
		display: none;
		float: none;
	}

	.box2 h1 {
		font-size: 32px;
	}
	.box2 h4 {
		font-size: 20px;
	}

	.box2 .col-sm-4 {
		padding: 0px;
	}

	.box2 .col-sm-8 {
		padding: 0px;
	}

	.box2 ul{
		float: none;
   		margin-top: 53px;
   		margin-left: -10px;
	}

	.index_img{
		width:auto; margin-top: -60px; height: 300px;
	}
	.index_img2{
		display: none;
	}

	.layer3 .col-sm-6 h4{
		margin-top: 0px;
	}

	.index_layer4{
		margin-top: 0px;
	}

	.index_images .col-sm-3 {
		width: 50%;
		float: left;
	}
	footer img{
		width: 100%;
	}

	.carousel-indicators{
		left: 16%;
    	top: 60%;
	}
	.carousel-indicators li{
		width: 8px;
		height: 8px;
	}
	footer{
		padding-top: 30px;
		margin-top: 20px;
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 30px;
	}

	footer img{
		padding-left: 30px;
	}

	footer p{
		text-align: left;
	}

	.layer2 h4{
		padding: 10px;
		padding-left: 0px;
	}

	.layer3{
		margin-top: 0px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.layer2{
		margin-left: 15px;
		margin-right: 15px;
	}

	.p1{
		height: 150px;
   		overflow: scroll;
	}

	.p2{
		height: 200px;
   		overflow: scroll;
	}
	.layer3 .col-sm-6 h4{
		text-align: left;
	}
	.navbar-default .navbar-toggle {
	    border-color: #ddd;
	    margin-top:10px;
	}

	.nav-item1{
		display: none;
	}

	.ml-auto{
		margin-top: 60px;
		padding-left: 0px;
	}

	.nav>li>a>img{
		float: left;
		width: 30px;
	}
	.demo p{
		padding-top: 0px;
		font-size: 18px;
		text-align: left;
		padding-left: 50px;
	}

	.list{
		margin-left: -10px;
		padding: 10px 50px;
		margin-top: 10px;
	}

	#ul1, #ul2, #ul3, #ul4{
		display: none;
	}
	.index_images img {
		width: 100%;
	}

	.layer1{
		margin-top: 0px;
		padding-bottom: 100px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.layer1 h1{
		font-size: 30px;
	}
	.layer1 h4{
		font-size: 20px;
	}

	.demo10{
		padding-bottom: 150px;
	}

	.glyphicon-arrow-down{
		display: block;
		font-size: 10px;
		border:1px solid white;
		padding: 4px;
	    width: 21px;
	    padding-top: 5px;
	    height: 21px;
	    float: right;
		border-radius: 50%;
	} 	


	.glyphicon-user{
		font-size: 14px !important;
	}

	.glyphicon-log-in{
		font-size: 14px !important;
	}

}

