footer{position: relative; background-image: url(../footer.png); background-size: cover;padding: 15px; color: white; font-size: 18px;}
.footer_space{padding-left: 23%;padding-right: 23%;}
.navbar1{position: absolute;z-index: 1;}
.carousel-caption{right: inherit;left: 15%;top: 1%;text-align: left;}
.carousel-caption h1{font-size: 80px;}
.carousel-caption h4{font-size: 30px;padding-left: 15px;}
.demo97{position: absolute; top: 20%; left: 50%; width: 20%;}
.demo98{position: absolute;right:15%; bottom: 0; width:25%;}
.demo99{position: absolute;left: 25%; bottom: 0;width:20%;}
.logo{width: 45%;}
.nav2{margin-bottom: 0px; border-radius: 1px;background-color: #034dae; border-color: #034dae;}
.nav2 .nav img{width: 16px; padding-bottom: 4px;}
.nav2 ul{padding-left: 20px; padding-top: 0px;}
.nav2 li{padding-bottom: 0; padding: 10px;}
.nav2 li a{color: white; font-size: 13px;letter-spacing: 0.5px;}
.nav2 li a:hover{text-decoration: none;}
.list{margin-top: 6px; background-color: #ffff00; border-color: #ffff00; color: black;}
.navbar-toggle{margin-top: 20px; background-color: #034dae;}
.h1{font-size: 60px;}
h4{font-size: 25px;}
h1{font-size: 50px;}
.navbar1 span{float: left;}
.navbar1 p{float: right; padding-left: 10px; }
.navbar1 .links{border:1px solid white; margin-right: 15px; height: 30px; padding: 5px; margin-top: 10px;}
.navbar-nav>li>a:hover{background-color: transparent;}
.navbar-nav>li>a{color: white; font-size: 16px; letter-spacing: 1px;}

.row{margin-right: 0px; margin-left: 0px;}
.space{padding-left: 15%; padding-right: 15%;}


.section1{background-image: url(../images/bg2.png);padding-top: 2%; padding-bottom: 2%; color: white; background-size: cover;}

.section1_2 .col-sm-2{padding: 0px;}
.section1_1 .col-sm-5{padding-left: 0px;}
.section1_1 .col-sm-7{padding-left: 0px;}
.section1_1 li{display: inline-block; padding-left: 20px; padding-right: 20px; margin-top: 5px; font-size: 20px;}
.section1_img1{margin-left: 20%;}
.section1_img2{margin-top: -280px; margin-left: -20px;}
.section1_img3{margin-top: 100px;}
.section1_2 button{padding: 10px 60px; border-radius: 25px; border:none; background-color: #ffff00;color: black;margin-top: 50px;}
.section1_2 .col6{padding-top: 50px;}

.section2 .col-sm-6{padding: 0px;}
.section2_img1{float: right;}
.section2_img3{float: left; width: 50%; margin-top: -100px;}
.section2_img4{float: right;width: 50%; margin-top: -80px;}

.section4 .col-sm-3{width: 20%; float: left; padding-bottom: 30px;}
.section4 h1{padding-bottom: 30px;}

.section5{padding-top: 100px; padding-bottom: 50px;}
.section5 .glyphicon-arrow-down{border-radius: 25px; border: 1px solid white; font-size: 13px; padding: 3px; padding-top: 4px; height: 23px; width: 23px;}
.section5 h4{font-size: 18px;letter-spacing: 1px;text-transform: uppercase;}
.section5 li{font-size: 16px; letter-spacing: 0.5px;}
.section5 p{font-size: 16px; letter-spacing: 0.5px;}
.section5 li{list-style: none;}
.section5 ul{padding-left: 0px;}

.carousel-control.right{background-image: none;}
.carousel-control.left{background-image: none;}

.mcarousel{display: none;}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.space{padding-left: 20px; padding-right: 20px;}
    #ul1, #ul2, #ul3, #ul4{display: none;}
    .section5 ul{padding-left: 0px;}   
    .h1{font-size: 40px;}
    .section1_1 ul{padding-left: 0px;}
    .section1_1 li{padding-left: 0px;}
    .section4 .col-sm-3{width: 50%; float: left;}
    .navbar1 p{display: none;}
    .navbar1 .links{width: 30px; border-radius: 25px; margin-top: 10px;}
    .navbar1 .nav>li{display: inline-block;}
    .navbar1 ul{margin-top: 0px;}
	.dcarousel{display: none;}
	.mcarousel{display: block;}
	.demo100{width: 100%;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {   
    .glyphicon-arrow-down{display: none;}
}